# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db
.idea

# Node.JS
node_modules
npm-debug.log

# Laravel defaults
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

# Generated public
/public/css
/public/img
/public/js


